
textarea {
	width: 500px;
	height: 40px;
}

/**************************
PERSON CARD STYLING:
**************************/
#container {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.personCard {
	width: 30%;
	padding: 10px;
	color: #636363;
	margin-top: 20px;
}
img {
	height: 100px;
	display: block;
	margin: auto;
}

.personCard:nth-child(2) {
	background-color: #fdf89c;
}
.personCard:nth-child(2n + 1) {
	background-color: #8be1dc;
}

.selected {
	border: 1px dotted #534741;
}